%h1
  New mime_type
= error_messages_for :mime_type
- form_for(:mime_type, :url => mime_types_path) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p
    = submit_tag 'Create'
= link_to 'Back', mime_types_path
